[INPUT]
FILENAME = file.xlsx
[SMTP]
SMTP_HOST = smtp.gmail.com
SMTP_PORT = 587
SMTP_USERNAME = name@example.com
SMTP_PASSWORD = smtp_password
[EmailSettings]
SUBJECT = Connecting for Potential Opportunities
BODY_TEMPLATE = Hi ${name},<br><br>Hope you're doing well.
ATTACHMENT_FILENAME = Resume.pdf